<!DOCTYPE html>
<html lang="en">

<head>
 {% load static %}
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'Pages/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'Pages/assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
OJP
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'Pages/assets/css/bootstrap.min.css' %}" rel="stylesheet"  />
  <link href="{% static "Pages/assets/css/now-ui-dashboard.css" %}"?v=1.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'Pages/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">

      <!-- Navbar -->
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 align="center" class="title">Edit Education Details</h5>
              </div>
              <div class="card-body">
                <form method="post">
                  {% csrf_token %}
                  <hr>

                  <div class="row">
                    <div class="col-md-2">
                      <!--<div class="form-group">-->
                        <label>Type</label>
                    </div>
                    <div class="col-md-8">
                        <!--<input type="text" class="form-control" placeholder="Last Name" value="Andrew">-->
                        <select name="type" id="id_type">
                           {% if jssd.type == "none" %}
                              <option value="none" selected>None</option>
                              <option value="schooling">Schooling</option>
                              <option value="inter">Inter</option>
                              <option value="diploma">Diploma</option>
                              <option value="degree">Degree</option>
                              <option value="btech">Btech</option>
                              <option value="others">Others</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "schooling" %}
                              <option value="none" >None</option>
                              <option value="schooling" selected>Schooling</option>
                              <option value="inter">Inter</option>
                              <option value="diploma">Diploma</option>
                              <option value="degree">Degree</option>
                              <option value="btech">Btech</option>
                              <option value="others">Others</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "inter" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" selected>Inter</option>
                              <option value="diploma">Diploma</option>
                              <option value="degree">Degree</option>
                              <option value="btech">Btech</option>
                              <option value="others">Others</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "diploma" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" >Inter</option>
                              <option value="diploma" selected>Diploma</option>
                              <option value="degree">Degree</option>
                              <option value="btech">Btech</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "degree" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" >Inter</option>
                              <option value="diploma" >Diploma</option>
                              <option value="degree" selected>Degree</option>
                              <option value="btech">Btech</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "btech" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" >Inter</option>
                              <option value="diploma" >Diploma</option>
                              <option value="degree" >Degree</option>
                              <option value="btech" selected>Btech</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "mtech" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" >Inter</option>
                              <option value="diploma" >Diploma</option>
                              <option value="degree" >Degree</option>
                              <option value="btech">Btech</option>
                              <option value="mtech" selected>Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "mba" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" >Inter</option>
                              <option value="diploma" >Diploma</option>
                              <option value="degree" >Degree</option>
                              <option value="btech" >Btech</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba" selected>MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "mca" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" >Inter</option>
                              <option value="diploma" >Diploma</option>
                              <option value="degree" >Degree</option>
                              <option value="btech" >Btech</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca" selected>MCA</option>
                              <option value="others">Others</option>
                            {% elif jssd.type == "others" %}
                              <option value="none" >None</option>
                              <option value="schooling" >Schooling</option>
                              <option value="inter" >Inter</option>
                              <option value="diploma">Diploma</option>
                              <option value="degree">Degree</option>
                              <option value="btech">Btech</option>
                              <option value="mtech">Mtech</option>
                              <option value="mba">MBA</option>
                              <option value="mca">MCA</option>
                              <option value="others" selected>Others</option>
                            {% endif %}

                    </select>
                      </div>
                    </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2"> <label>School/College Name</label></div>
                    <div class="col-md-8" >
                            <input type="text" name="clz_name" maxlength="50" required id="id_clz_name" class="form-control" value="{{jssd.clz_name}}"/>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2">
                      <!--<div class="form-group">-->
                      <label>Specilization</label>
                    </div>
                        <!--<input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">-->
                      <div class="col-md-8">
                        <input type="text" name="specilization" maxlength="50" required id="id_specilization" class="form-control" value="{{jssd.specilization}}"/>
                      </div>
                    </div>
                  <br>
                    <div class="row">
                    <div class="col-md-2">
                      <!--<div class="form-group">-->
                        <label>Passed out Year</label>
                    </div>
                        <!--<input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">-->
                    <div class="col-md-8">
                        <input type="number" name="pyear" required id="id_pyear" class="form-control" value="{{jssd.pyear}}"/>
                    </div>
                    </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2">
                      <!--<div class="form-group">-->
                        <label>Percentage</label>
                    </div>
                        <!--<input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">-->
                      <div class="col-md-8">
                        <input type="number" name="percentage" step="any" required id="id_percentage" class="form-control" value="{{jssd.percentage}}" />
                      </div>
                    </div>

                    <div class="row">
                  <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" >Update</button>
                </div>
                  <div class="col-md-4"></div>
              </div>
                </form>
              </div></div></div></div></div>

    <!--   Core JS Files   -->
      {% include "web/corejsfiles.html"%}
</body>

</html>