<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "Pages/assets/img/apple-icon.png" %}">
  <link rel="icon" type="image/png" href="{% static "Pages/assets/img/favicon.png" %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   OJP
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static "Pages/assets/css/bootstrap.min.css" %}" rel="stylesheet"  />
  <link href="{% static "Pages/assets/css/now-ui-dashboard.css" %}"?v=1.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static "Pages/assets/demo/demo.css" %}" rel="stylesheet" />
</head>

<body class="">
      <div class="content">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 align="center" class="title">Personal Details</h5>
              </div>
              <div class="card-body">
                <form enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                  <hr>
                  <p class="title">Company Details</p>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Company Name</label>
                        <!--<input type="text" class="form-control" placeholder="Last Name" value="Andrew">-->
                        {{ form.company_name}}
                      </div>
                    </div>
                    <div class="col-md-4" >
                        <label>Profile Image</label>
                            {{ form.dp }}
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Admin Name</label>
                        <!--<input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">-->
                        {{form.admin_name}}
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Email</label>
                        <!--<input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">-->
                        {{form.email}}
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Mobile</label>
                        <!--<input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">-->
                        {{form.mobile}}
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-2"><label>Address</label></div>
                <div class="col-md-8">
                  {{ form.address }}
                </div>
            </div>
                  <hr>
                  <div class="row">
                  <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block">
                    Continue..
                  </button>
                </div>

                  <div class="col-md-4"></div>
              </div>
                </form>
                <hr>

              </div>
            </div>
          </div>
        </div>
      </div>

    <!--   Core JS Files   -->
     {% include "web/corejsfiles.html"%}
</body>

</html>