<div class="dropdown-menu dropdown-menu-right card-body">
                          <div class="card-body">
                            <div class="author">
                              <a href="#">
                                <img class="avatar border-gray" src="{{ cd.dp.url }}" alt="...">
                              </a>
                                <h5 class="title" style="text-align:center;">{{ req.user.username }}</h5>
                                        <a href="{% url 'ojp:jpledit' %}" class="btn btn-primary btn-block">Edit Profile</a>
                                      <a href="{% url 'ojp:jplogout' %}" class="btn btn-primary btn-block">Logout</a>

                            </div>
                          </div>
</div>